[Desktop Entry]
Version=1.0
Type=Application
Name[hu]=Zathura
Name=Zathura
Comment[ar]=عارض وثائق الحد الأدنى
Comment[ca]=Visualitzador de documents minimalista
Comment[cs]=Jednoduchý prohlížeč dokumentů
Comment[de]=Minimalistischer Dokumenten-Betrachter
Comment[el]=Ένας ελαφρύς προβολέας κειμένων
Comment[eo]=Malpeza dokumento spektanto
Comment[es]=Visor de documentos minimalista
Comment[es_CL]=Visor de documentos minimalista
Comment[et]=Minimalistlik dokumendivaataja
Comment[fr]=Visionneur de document minimaliste
Comment[he]=מציג מסמכים מינימליסטי
Comment[hu]=Minimalista dokumentummegjelenítő
Comment[id]=Pembaca dokumen minimalis
Comment[it]=Visualizzatore di documenti minimalista
Comment[ka]=მინიმალისტიკ დოკუმენტი ვიევერ
Comment[lt]=Paprasta dokumentų skaitytuvė
Comment[nl]=Minimalistisch documentweergaveprogramma
Comment[no]=Minimalistisk dokumentleser
Comment[pl]=Minimalistyczny czytnik dokumentów
Comment[pt]=Visualizador de documentos minimalista
Comment[pt_BR]=Visualizador de documentos minimalista
Comment[ru]=Минималистичный просмотрщик документов
Comment[sv]=Minimalistisk dokumentvisare
Comment[tr]=Minimalist bir belge görüntüleyicisi
Comment[uk]=Простий переглядач документів
Comment[zh_CN]=极简文档查看器
Comment=Minimalistic document viewer
Exec=zathura %U
# Translators: Icon of the desktop entry.
Icon=org.pwmt.zathura
Terminal=false
Categories=Office;Viewer;
# Translators: Search terms to find this application. Do not translate or
# localize the semicolons. The list must also end with a semicolon.
Keywords[cs]=PDF;PS;PostScript;DjVU;dokument;představení;prohlížeč;
Keywords[de]=PDF;PS;PostScript;DjVU;Dokumente;Presentation;Betrachter;
Keywords[el]=PDF;PS;PostScript;DjVU;έγγραφο;παρουσίαση;προβολέας;
Keywords[es]=PDF;PS;PostScript;DjVU;documento;presentación;visor;
Keywords[et]=PDF;PS;PostScript;DjVU;dokument;presentation;viewer;
Keywords[fr]=PDF;PS;PostScript;DjVU;document;présentation;visionneur;
Keywords[he]=PDF;PS;PostScript;DjVU;מסמך;presentation;viewer;
Keywords[hu]=PDF;PS;PostScript;DjVU;dokumentum;bemutató;megjelenítő;
Keywords[it]=PDF;PS;PostScript;DjVU;documenti;presentazioni;lettore;
Keywords[ka]=PDF;PS;PostScript;DjVU;დოკუმენტი;პრესენტატიონ;ვიევერ;
Keywords[nl]=PDF;PS;PostScript;DjVU;document;presentatie;weergave;
Keywords[no]=PDF;PS;PostScript;DjVU;dokument;presentasjon;viser;
Keywords[pl]=PDF;PS;PostScript;DjVU;dokument;czytnik;
Keywords[pt]=PDF;PS;PostScript;DjVU;documento;apresentação;visualizador;
Keywords[ru]=PDF,PS,PostScript,DjVU,документ,презентация,просмотрщик;
Keywords[sv]=PDF;PS;PostScript;DjVU;dokument;presentation;visare;
Keywords[tr]=PDF;PS;PostScript;DjVU;dosya;sunum;görüntüleyici
Keywords[uk]=PDF;PS;PostScript;DjVU;документ;презентація;переглядач;
Keywords[zh_CN]=PDF;PS;PostScript;DjVU;文档;演示;查看器;
Keywords=PDF;PS;PostScript;DjVU;document;presentation;viewer;
NoDisplay=true
